# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Use this only if you are not deploying on Vercel, and for local environments
NEXTAUTH_URL=
# You can create your secret with this command: 
# openssl rand -base64 32
NEXTAUTH_SECRET=
DATABASE_URL=
EMAIL=
# Email that will send the Resend emails to the main email
RESEND_EMAIL=
RESEND_API_KEY=
