@tailwind base;
@tailwind components;
@tailwind utilities;

/* reutilizable tailwind components */
@layer components {
  .title {
    @apply font-black text-2xl py-4;
  }

  /* margin for anchor scrolling and adds whitespace  */
  .container-fix {
    @apply scroll-mt-20 mb-20 px-4;
  }

  .flex-center {
    @apply flex justify-center items-center text-center;
  }

  /* line that appears bellow text when hovering link  */
  .line-navbar {
    @apply h-0 w-full 
    rounded-lg bg-primary 
    group-hover:h-1 
    transition-all;
  }

  .absolute-center {
    @apply absolute top-[50%] left-[50%] 
    transform -translate-x-1/2 -translate-y-1/2;
  }

  .button-primary {
    @apply flex gap-2 flex-center
    bg-neutral-950 text-gray-100 rounded-lg p-2
    dark:bg-gray-100 dark:text-neutral-900
    hover:bg-primary hover:text-gray-100
    transition-all;
  }
}
