@tailwind base;
@tailwind components;
@tailwind utilities;

/* reutilizable tailwind components */
@layer components {
  .title {
    @apply font-bold text-2xl;
  }

  /* margin for anchor scrolling and adds whitespace  */
  section {
    @apply mb-20 scroll-mt-16;
  }

  .container {
    @apply mx-auto p-4 md:px-0;
  }

  .flex-center {
    @apply flex justify-center items-center text-center;
  }

  .btn-primary {
    @apply flex gap-2 flex-center w-fit font-bold shadow-lg
    bg-primary
    text-zinc-100 rounded-lg py-3 px-6
    hover:scale-110 active:scale-90
    transition-all ease-in-out duration-200;
  }

  .btn-secondary {
    @apply flex gap-2 flex-center font-bold w-fit shadow-lg
    bg-zinc-950 text-zinc-100 rounded-lg py-3 px-6
    dark:bg-zinc-100 dark:text-zinc-900

    hover:bg-primary hover:text-zinc-100 hover:scale-110 active:scale-90
    transition-all ease-in-out duration-200;
  }

  .btn-hero {
    @apply flex gap-2 flex-center font-bold w-fit shadow-lg
    rounded-lg py-3 px-6
    bg-zinc-950 text-zinc-50

    hover:bg-zinc-50 hover:text-zinc-950 hover:scale-110 active:scale-90
    transition-all ease-in-out duration-200;
  }

  /* theme that applies BG and text for light/dark mode  */
  .theme {
    @apply bg-zinc-100 text-zinc-900
    dark:bg-zinc-950 dark:text-zinc-100;
  }

  .theme-navbar {
    @apply bg-zinc-50/80 backdrop-blur-lg w-full
    fixed bottom-0 right-0 z-40 
    translate-x-full opacity-0 shadow
    data-[visible=true]:translate-x-0 data-[visible=true]:opacity-100
    transition-all ease-in-out duration-500

    dark:bg-zinc-900/80
    
    md:bottom-auto md:top-0
    md:translate-x-0 md:opacity-100;
  }

  .navbar {
    @apply h-screen flex-center flex-col gap-12 
    md:justify-between md:flex-row md:w-full md:h-14;
  }

  .nav-links {
    @apply flex-center flex-col gap-12 font-bold text-zinc-700 dark:text-zinc-300
    md:justify-end md:flex-row;
  }

  .nav-hover-bar {
    @apply bg-primary w-0 h-0 rounded-xl
    group-hover:w-full group-hover:h-1
    transition-all;
  }

  .theme-footer {
    @apply bg-zinc-200 
    dark:bg-zinc-900;
  }

  .theme-card {
    @apply bg-white rounded-lg p-2
    dark:bg-zinc-800;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .bg-clip {
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  }
}
