@tailwind base;
@tailwind components;
@tailwind utilities;

/* reutilizable tailwind components */
@layer components {
  .title {
    @apply text-2xl font-bold;
  }

  /* margin for anchor scrolling and adds whitespace  */
  section {
    @apply mb-20 scroll-mt-16;
  }

  .container {
    @apply mx-auto p-4 md:px-0;
  }

  .flex-center {
    @apply flex items-center justify-center text-center;
  }

  .btn-primary {
    @apply flex-center flex w-fit gap-2 rounded-lg bg-primary
    px-6
    py-3 font-bold text-zinc-100 shadow-lg
    transition-all duration-200
    ease-in-out hover:scale-110 active:scale-90;
  }

  .btn-secondary {
    @apply flex-center flex w-fit gap-2 rounded-lg bg-zinc-950
    px-6 py-3 font-bold text-zinc-100 shadow-lg
    transition-all duration-200

    ease-in-out hover:scale-110 hover:bg-primary hover:text-zinc-100
    active:scale-90 dark:bg-zinc-100 dark:text-zinc-900;
  }

  .btn-hero {
    @apply flex-center flex w-fit gap-2 rounded-lg bg-zinc-950
    px-6 py-3 font-bold
    text-zinc-50 shadow-lg

    transition-all duration-200 ease-in-out hover:scale-110
    hover:bg-zinc-50 hover:text-zinc-950 active:scale-90;
  }

  /* theme that applies BG and text for light/dark mode  */
  .theme {
    @apply bg-zinc-100 text-zinc-900
    dark:bg-zinc-950 dark:text-zinc-100;
  }

  .nav-link {
    @apply rounded-lg p-3
    text-zinc-600 transition-all
    duration-500 ease-out

    hover:bg-zinc-950 hover:text-zinc-50
    dark:text-zinc-300 dark:hover:bg-zinc-50 dark:hover:text-zinc-950;
  }
}
